<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.chenqingze.wechatsdk">

    <application>
        <activity
            android:name="com.github.chenqingze.wechatsdk.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:label="WXPayEntryActivity"
            android:launchMode="singleTask"
            android:taskAffinity="${wechatPackageName}"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity-alias
            android:name="${wechatPackageName}.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="com.github.chenqingze.wechatsdk.wxapi.WXPayEntryActivity" >
        </activity-alias>
    </application>
</manifest>
